In [1]:
import re
import pandas as pd
import numpy as np
import string
from datetime import datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import Window

#chdrpf_path = '/group/axa_malaysia/data/adm_chdrpf'

def policy_psea(chdrpf_path, output_folder='data/sas_401/'):
    
    """
    def strip_punctuation(s):
        s = str(s)
        s= ''.join(c for c in s if c not in string.punctuation)
        s.replace(" ",'')
        return(s)
    strip_punctuationudf = udf(strip_punctuation)
    
    # Construct regular expression to match criteria of valid replacement, criteria being
    # start with P/Q/S and has 7 digits.
    def check(x):
         bool(re.search(('^[PQS]\d{7}$'),str(x)))            
    checkudf = udf(check,BooleanType())
    
    def thirdcheck(x):
        bool(x.startswith(tuple(['P','Q','S'])))
    thirdcheckudf = F.udf(thirdcheck,BooleanType())

    def fourthcheck(x):
        bool(re.search('[a-z]',str(x)[1:]) is not None)
    fourthcheckudf = F.udf(fourthcheck,BooleanType())
    """
    
    def format_date(strdate):
        try: 
            return datetime.strptime(str(strdate),'%Y%m%d').strftime('%Y-%m-%d')
        except: 
            return '2999-12-31'
    _format_date = udf(format_date,StringType())
    
    def _replace_null_dates(column):
        return when(column.isNull(), to_date(lit('2999-12-31'))).otherwise(column)
        
    def _get_replacements(policyNo, commencementDate, replacementNo):
        ziplist = zip(policyNo, commencementDate, replacementNo)
        sorted_policy = sorted(ziplist, key=lambda x: (x[1],x[0]), reverse=True )
        chain_list = []
        policy_chainnum = {}

        for pol, com, rep in sorted_policy:
            if pol in policy_chainnum:
                chain_list[policy_chainnum[pol]].append( (pol,com) )
                if rep:
                    policy_chainnum[rep] = policy_chainnum[pol]
            else:
                policy_chainnum[pol] = len(chain_list)
                chain_list.append([(pol,com)])
                if rep:
                    policy_chainnum[rep] = policy_chainnum[pol]

        final_output = []
        for chain in chain_list:
            for idx, val in enumerate(chain):
                final_output.append({'chdrnum': val[0],
                                    'orig_pol':chain[-1][0],
                                     'latest_replacement':chain[0][0],
                                     'd_first_com':chain[-1][1],
                                     'update_count': len(chain)-idx-1 })

        return final_output
    _get_replacements_udf = udf(_get_replacements, ArrayType(StructType([
                    StructField("d_first_com", DateType()),
                    StructField("latest_replacement", StringType()),
                    StructField("orig_pol", StringType()),
                    StructField("update_count", IntegerType()),
                    StructField("chdrnum", StringType())])))

    # Keep only
    # 1) FG, hence exclude G400, set servunit = FG which is Fire and General;
    # 2) In Force or Cancelled - statcode = IF and CA records from CHDRPF
    chdrpf = spark.read.parquet(chdrpf_path).select('SERVUNIT','CHDRNUM','CURRFROM','CURRTO',
                          'TRANNO','CHDRSTCDC','CNTTYPE','COWNNUM',
                          'OCCDATE','CNTBRANCH','RNLTYPE','NOFRISKS',
                          'DTECAN','REPTYPE','ZREPOLNO','REPNUM',
                          'STATCODE','AGNTNUM','CCDATE','CRDATE','ZENDNO',
                          'ZRENNO','STATTRAN','CAMPAIGN').filter((col('SERVUNIT')=='FG') & (col('STATCODE').isin ('IF','CA')))

    # Sort in this order to ensure most recent is kept - zrenno is included since tranno is not necessarily chronological
    chdrpf = chdrpf.orderBy(['CHDRNUM','ZRENNO','CURRTO','TRANNO'],ascending=[1,0,0,0])
    # Remove duplicates by taking keeping the most recent information for each policy for each POI
    chdrpf = chdrpf.dropDuplicates(['CHDRNUM','ZRENNO','CURRTO','TRANNO'])

    # Clean-up fields
    polhistory_psea = chdrpf.withColumn("ID",lit("PSEA")) # Important when G400 is added

    # 1) Effective dates on policy version - thus could be for each policy version throughout the year,
    #    hence there could be many changes per policy
    polhistory_psea = polhistory_psea.withColumn("D_FROM", to_date(_format_date(col('CURRFROM'))))
    # 2) Same as above, just the date until the change is effective
    polhistory_psea = polhistory_psea.withColumn("D_TO", to_date(_format_date(col('CURRTO'))))
    # 3) Original commencement date for current policy version it does not look at the original dates for replaced contracts,
    #    thus there is only one for each policy version
    polhistory_psea = polhistory_psea.withColumn("D_ORICOM", to_date(_format_date(col('OCCDATE'))))
    # 4) Commencement date, date on which policy is renewed (or new business) this is the start of the POI
    polhistory_psea = polhistory_psea.withColumn("D_COM", to_date(_format_date(col('CCDATE'))))
    # 5) Renewal date, if not renewed then expired
    polhistory_psea = polhistory_psea.withColumn("D_EXP", to_date(_format_date(col('CRDATE'))))
    # 6) Date of cancellation
    polhistory_psea = polhistory_psea.withColumn("D_cancel", when(col('STATCODE')=='CA', to_date(_format_date(col('DTECAN')))))\
    .withColumn("D_cancel", _replace_null_dates(col('D_cancel')))

    # Rename fields
    polhistory_psea = polhistory_psea.withColumnRenamed("AGNTNUM","AGENTID").withColumnRenamed("COWNNUM","OWNERID")

    # Renewability
    polhistory_psea = polhistory_psea.withColumn("RENEWABLE",when(col('RNLTYPE').isin(['M2','02']),lit(0)).otherwise(lit(1)))

    # Clean-up replacements
    # Remove trailing blanks and keep the number only if:
    # 1. REPTYPE is RF or RX - replacements occur only when REPTYPE is RF or RX
    # 2. REPNUM is not:
    #    2(a): CHDRNUM, and
    #    2(b): Length of REPNUM is exactly 8 with
    #       2(b)(i)  : first character is a letter
    #       2(b)(ii) : all the rest are digits
    #       2(b)(iii): Careful with GTOM (Structure might be different)
    # Same conditions apply on ZREPOLNO

    # Replace blanks
    polhistory_psea = polhistory_psea.withColumn('CHDRNUM', translate('CHDRNUM', string.punctuation+' ', ""))
    polhistory_psea = polhistory_psea.withColumn('REPNUM', translate('REPNUM', string.punctuation+' ', ""))
    polhistory_psea = polhistory_psea.withColumn('ZREPOLNO', translate('ZREPOLNO', string.punctuation+' ', ""))

    # Clear if condition 1 above is not met - if it is anything other than
    polhistory_psea = polhistory_psea.withColumn('REPNUM',when(~col('REPTYPE').isin(['RF','RX','CH']),"").otherwise(col('REPNUM')))
    polhistory_psea = polhistory_psea.withColumn('zrepolno',when(~col('REPTYPE').isin(['RF','RX','CH']),"").otherwise(col('ZREPOLNO')))

    # chdrpf = chdrpf.withColumn('REPNUM', when(col('REPNUM') != F.lit(None) &
    #                                          ((length(col('REPNUM'))!=8) |
    #                                          (thirdcheckudf(col('REPNUM'))) |
    #                                          (fourthcheckudf(col('REPNUM')))),"").otherwise(col('REPNUM')))

    # Fixing repnum based on conditions imposed
    #polhistory_psea = polhistory_psea.withColumn('REPNUM', regexp_extract('REPNUM', '^[PQS]\d{7}$', 0))
    # Fixing zrepolno based on conditions imposed
    #polhistory_psea = polhistory_psea.withColumn('ZREPOLNO', when(col('CHDRSTCDC')=='001', regexp_extract('ZREPOLNO', '^[PQS]\d{7}$', 0))\
    #                                             .otherwise(""))

    polhistory_psea = polhistory_psea.withColumn('REPLNUM',col('REPNUM'))
    polhistory_psea = polhistory_psea.withColumn('COMPNUM',col('ZREPOLNO'))

    # Clear if condition 2(a) above is met
    polhistory_psea = polhistory_psea.withColumn('REPNUM',when(col('REPNUM')==col('CHDRNUM'),"").otherwise(col('REPNUM')))
    polhistory_psea = polhistory_psea.withColumn('ZREPOLNO',when(col('ZREPOLNO')==col('CHDRNUM'),"").otherwise(col('ZREPOLNO')))

    # The replacement number if the replacement number equals the contract number - this cannot be a replacement
    polhistory_psea = polhistory_psea.drop('CURRFROM','CURRTO','RNLTYPE','OCCDATE','CCDATE','CRDATE','DTECAN','ZREPOLNO','REPNUM')
    polhistory_psea.cache()

    # Create Policy Header table
    pol_psea = polhistory_psea.select('CHDRNUM','D_ORICOM','D_CANCEL','CHDRSTCDC','OWNERID','AGENTID','CNTTYPE','ZRENNO','REPLNUM',
                                      'COMPNUM','CNTBRANCH','ID')
    pol_psea = pol_psea.dropDuplicates(['CHDRNUM'])
    pol_psea = pol_psea.orderBy('CHDRNUM')
    pol_psea.cache()

    ## Replacement section
    pol_psea_replacement = pol_psea.select('CHDRNUM','D_ORICOM','OWNERID','CHDRSTCDC','REPLNUM')

    pol_psea_grouped = pol_psea_replacement.groupBy(['OWNERID','CHDRSTCDC']).agg(collect_list('CHDRNUM').alias('CHDRNUM'),
                                                                                 collect_list('D_ORICOM').alias('D_ORICOM'),
                                                                                 collect_list('REPLNUM').alias('REPLNUM'))

    pol_psea_chain = pol_psea_grouped.\
    withColumn('Policy_Chain', _get_replacements_udf(col('CHDRNUM'),col('D_ORICOM'),col('REPLNUM')) ).\
    drop('CHDRNUM','D_ORICOM','REPLNUM')

    pol_psea_exploded = pol_psea_chain.withColumn('Policy_Chain', explode(col('Policy_Chain')) )

    reps2 = pol_psea_exploded.withColumn('d_first_com', col('Policy_Chain')['d_first_com'])\
    .withColumn('latest_replacement', col('Policy_Chain')['latest_replacement'])\
    .withColumn('orig_pol', col('Policy_Chain')['orig_pol'])\
    .withColumn('update_count', col('Policy_Chain')['update_count'])\
    .withColumn('chdrnum', col('Policy_Chain')['chdrnum'])\
    .drop('Policy_Chain')

    # Merge
    cond2 = [pol_psea['CHDRNUM'] == reps2['CHDRNUM']]
    pol_psea = pol_psea.join(reps2, cond2, 'inner').select([pol_psea[xx] for xx in pol_psea.columns] + [reps2['ORIG_POL'],
                                                                                                        reps2['LATEST_REPLACEMENT'],
                                                                                                        reps2['D_FIRST_COM']])
    pol_psea = pol_psea.toDF(*[c.lower() for c in pol_psea.columns])
    pol_psea.write.parquet('{}transv_pol_psea.parquet'.format(output_folder))

    cond3 = [polhistory_psea['CHDRNUM'] == reps2['CHDRNUM']]
    polhistory_psea = polhistory_psea.join(reps2, cond3, 'inner').select([polhistory_psea[xx] for xx in polhistory_psea.columns] + 
                                                                         [reps2['ORIG_POL'],
                                                                          reps2['LATEST_REPLACEMENT'],
                                                                          reps2['D_FIRST_COM'],
                                                                          reps2['UPDATE_COUNT']])
    polhistory_psea = polhistory_psea.toDF(*[c.lower() for c in polhistory_psea.columns])
    polhistory_psea.write.parquet('{}transv_polhistory_psea.parquet'.format(output_folder))

In [ ]:
chdrpf_path = '/group/axa_malaysia/data/adm_chdrpf'
policy_psea(chdrpf_path)

In [3]:
spark.read.parquet('data/sas_401/transv_polhistory_psea.parquet').count()

15105842

In [4]:
spark.read.parquet('data/sas_401/transv_pol_psea.parquet').count()

9363121

In [1]:
!hdfs dfs -get /group/axa_malaysia/raw/OSPREY/02_ACTLIB/01_Main/03_Transversal/polhistory_psea.sas7bdat

In [2]:
import pandas as pd

In [3]:
polhistory_psea_sas = pd.read_sas('polhistory_psea.sas7bdat')

In [5]:
polhistory_psea_sas.to_pickle('polhistory_psea.pickle')

In [1]:
import pickle
import pandas as pd

In [17]:
!ls -la

total 31860308
drwx------   24 cchin platform-users        4096 Aug 25 09:53 .
drwxr-xr-x. 190 root  root                  4096 Aug 23 20:05 ..
-rw-r-----    1 cchin platform-users      234787 Jun 21 11:06 ADM Mapping.xlsm
drwxr-x---   21 cchin platform-users        4096 Jul  4 15:35 anaconda3
-rw-r-----    1 cchin platform-users   523283080 Jun  8 12:19 Anaconda3-4.4.0-Linux-x86_64.sh
-rw-------    1 cchin platform-users        8274 Aug 24 16:15 .bash_history
-rw-------    1 cchin platform-users          18 May 29 18:47 .bash_logout
-rw-------    1 cchin platform-users         176 May 29 18:47 .bash_profile
-rw-------    1 cchin platform-users         124 May 29 18:47 .bashrc
drwxr-x---    2 cchin platform-users        4096 Aug 24 16:15 .beeline
drwxr-x---    3 cchin platform-users        4096 Jun  8 14:26 .cache
-rwxrwxrwx    1 cchin domain users           597 Jul  4 16:49 cchin.conf
-rwxrwxr--    1 cchin root                   394 May 29 18:46 cchin.keytab
-rw-r-----    1 cchin platform-users      196608 May 11 17:09 cellunit.sas7bdat
-rw-r-----    1 cchin platform-users     1217250 Jul  3 11:50 Claims Data.ipynb
drwxr-x---    3 cchin platform-users        4096 Jul  4 15:30 .conda
drwxr-x---    3 cchin platform-users        4096 Jun  6 11:52 .config
-rw-r-----    1 cchin platform-users       66624 Aug  9 14:31 CustomerCount2.ipynb
drwxr-x---    2 cchin platform-users        4096 Jul 20 13:57 data
-rw-r-----    1 cchin platform-users       86196 Aug 18 11:26 dates_group_sas_cancel.csv
-rw-r-----    1 cchin platform-users      132868 Aug 18 11:17 dates_group_sas.csv
drwxr-x---    2 cchin platform-users        4096 Aug 18 11:26 dates_group_spark_cancel.csv
drwxr-x---    2 cchin platform-users        4096 Aug 18 10:50 dates_group_spark.csv
-rw-r-----    1 cchin platform-users         685 Jun  8 14:03 derby.log
-rw-r-----    1 cchin platform-users      683194 Aug 14 10:02 DriverData_20170810_v2.csv
-rw-r-----    1 cchin platform-users       11923 Jun  8 09:17 filelist.csv
-rw-r-----    1 cchin platform-users        1634 Jul 17 09:50 FlumeData.1500032704839
-rw-r-----    1 cchin platform-users     7837297 Aug  2 11:40 FlumeData.1501579546788
-rw-r-----    1 cchin platform-users     1286785 Aug  4 09:45 FlumeData.1501767652064
-rw-r-----    1 cchin platform-users   125853770 Aug 10 09:36 FlumeData.1502282295080
-rw-r-----    1 cchin platform-users    73925844 Aug 10 09:36 FlumeData.1502282295081
-rw-r-----    1 cchin platform-users      207504 Aug 16 17:06 FlumeData.1502869241460
-rw-r-----    1 cchin platform-users    27113822 Aug 21 09:49 FlumeData.1503040379006
drwx------    2 cchin platform-users        4096 May 29 18:47 .gnome2
drwxr-x---    3 cchin platform-users        4096 Jun  9 10:02 ibm_db-2.0.7
-rw-r-----    1 cchin platform-users      579378 Jun  8 17:09 ibm_db-2.0.7.tar.gz
-rw-r-----    1 cchin platform-users      579515 Jun  9 09:42 ibm_db-2.0.7_windows.tar.gz
-rw-r-----    1 cchin platform-users       24197 Jun  8 12:21 ibm_db_sa-0.3.3.tar.gz
drwxr-x---    2 cchin platform-users        4096 Aug 18 15:00 .ipynb_checkpoints
drwxr-x---    5 cchin platform-users        4096 Jun  6 10:29 .ipython
-rw-r-----    1 cchin platform-users       14389 Jul  4 15:29 JayDeBeApi-1.1.1-py3-none-any.whl
-rw-r-----    1 cchin platform-users      634880 Jul  4 15:29 jpype1-0.6.2-np112py36_0.tar
-rw-r-----    1 cchin platform-users      147893 Jul  4 15:40 JPype1-0.6.2.tar.gz
drwxr-x---    2 cchin platform-users        4096 Jun 20 09:34 .jupyter
-rw-------    1 cchin platform-users         171 May 29 18:47 .kshrc
-rw-r-----    1 cchin platform-users    18703240 Jun  8 16:49 linuxx64_odbc_cli.tar.gz
-rw-rw----    1 cchin platform-users      120130 Aug 11 13:30 listdates2_freq.csv
-rw-rw----    1 cchin platform-users         948 Aug 11 13:30 .listdates2_freq.csv.crc
drwx------    3 cchin platform-users        4096 Jun  2 09:52 .local
drwxr-x---    5 cchin platform-users        4096 Jun  8 14:03 metastore_db
drwxr-x---    2 cchin platform-users        4096 Aug 21 14:32 mmcodes.csv
drwx------    4 cchin platform-users        4096 May 29 18:47 .mozilla
-rw-r-----    1 cchin platform-users    78043876 Jun 13 16:15 mtr2.csv
-rw-r-----    1 cchin platform-users         544 Jun 15 14:16 mysparkconf.conf
-rw-r-----    1 cchin platform-users 12042517887 Jun 13 15:43 newpsim.pickle
-rw-r-----    1 cchin platform-users  3511091200 Jun  5 10:04 newpsim.sas7bdat
drwxr-x---    2 cchin platform-users        4096 Aug 24 14:37 Osprey_Data
-rw-r-----    1 cchin platform-users  4248301214 Aug 18 17:26 p2.pickle
-rw-r-----    1 cchin platform-users  6247413743 Aug 18 14:54 p2_pif.pickle
-rw-r-----    1 cchin platform-users  3779662013 Aug 18 10:37 polhistory_psea.pickle
-rw-rw----    1 cchin platform-users  1733751808 Aug 18 10:05 polhistory_psea.sas7bdat
-rw-rw----    1 cchin platform-users       96634 Aug 11 13:30 prem3_d_eff_freq.csv
-rw-rw----    1 cchin platform-users         764 Aug 11 13:30 .prem3_d_eff_freq.csv.crc
-rw-rw----    1 cchin platform-users      112427 Aug 11 13:30 prem3_d_exp_freq.csv
-rw-rw----    1 cchin platform-users         888 Aug 11 13:30 .prem3_d_exp_freq.csv.crc
drwxr-x---    3 cchin platform-users        4096 Jun  7 15:00 Project - Cross Sell
-rw-------    1 cchin platform-users        2565 Jul  4 15:05 .python_history
drwxr-xr-x    3 cchin platform-users        4096 Jun  2 09:54 R
-rw-r-----    1 cchin platform-users       51339 Jun 28 18:04 Read_Mapping_Excel.ipynb
drwxr-xr-x   15 cchin platform-users        4096 Jun  7 13:29 .rstudio
-rw-r-----    1 cchin platform-users       84519 Aug 25 09:53 SAS Script Conversion 4_01.ipynb
-rw-r-----    1 cchin platform-users       17450 Aug 17 17:19 SAS Script Conversion 4_02.ipynb
-rw-r-----    1 cchin platform-users       23083 Jul 27 13:35 SAS Script Conversion 4_03.ipynb
-rw-r-----    1 cchin platform-users        6445 Aug  2 11:49 SAS Script Conversion 4_04.ipynb
-rw-r-----    1 cchin platform-users      221420 Aug 24 10:37 SAS Script Conversion 4_05.ipynb
-rw-r-----    1 cchin platform-users       35041 Aug 17 16:49 SAS Script Conversion 4_06.ipynb
-rw-r-----    1 cchin platform-users        6093 Jul 27 14:07 SAS Script Conversion 4_07.ipynb
-rw-r-----    1 cchin platform-users        4281 Jul 27 15:25 SAS Script Conversion 4_08.ipynb
-rw-r-----    1 cchin platform-users        7636 Jun  8 09:32 Scan Duplicates.ipynb
-rw-r-----    1 cchin platform-users        1783 Jun  8 09:31 scan_duplicates.py
drwxr-x---   13 cchin platform-users        4096 Jul  4 14:32 spark-2.1.1-bin-hadoop2.6
-rw-r-----    1 cchin platform-users   198804211 Jun  8 12:33 spark-2.1.1-bin-hadoop2.6.tgz
-rw-r-----    1 cchin platform-users           6 Jun  7 16:15 .spark.webui
-rw-r-----    1 cchin platform-users     1231495 Aug 24 14:44 Testing123.ipynb
-rw-rw----    1 cchin platform-users       96943 Aug 11 13:54 transv_p2_d_com.csv
-rw-rw----    1 cchin platform-users         768 Aug 11 13:54 .transv_p2_d_com.csv.crc
-rw-rw----    1 cchin platform-users      116188 Aug 11 13:54 transv_p2_d_end.csv
-rw-rw----    1 cchin platform-users         916 Aug 11 13:54 .transv_p2_d_end.csv.crc
-rw-------    1 cchin platform-users        7710 Jul 11 10:34 .viminfo

In [2]:
polhistory_psea_sas = pickle.load(open('polhistory_psea.pickle','rb'))

In [55]:
[i.decode('utf-8') for i in polhistory_psea_sas[pd.isnull(polhistory_psea_sas['d_exp'])]['chdrnum']]

['UB017745',
 'UF027805',
 'UJ003602',
 'UM010006',
 'UM126230',
 'UM126231',
 'UM126232',
 'UM126233',
 'UM127438',
 'UO020866',
 'UO159076',
 'UQ028308',
 'UQ036847',
 'UZ011672',
 'UZ012177',
 'UZ027349',
 'UZ033000',
 'UZ034047',
 'UZ034050',
 'UZ034097',
 'UZ490007',
 'UZR07320',
 'UZR07321']

In [40]:
dates_group_sas = polhistory_psea_sas.groupby('d_exp').size()

In [46]:
dates_group_sas.shape

(8936,)

In [31]:
dates_group_sas = polhistory_psea_sas.groupby('d_exp').size()
dates_group_sas = dates_group_sas.reset_index()
dates_group_sas['d_exp'] = dates_group_sas['d_exp'].map(lambda x: x if x <= 60000 else 60000.0)
dates_group_sas['d_exp'] = pd.to_timedelta(dates_group_sas['d_exp'], unit='D') + pd.datetime(1960, 1, 1)
dates_group_sas = dates_group_sas.rename(columns={0:'count'})
#dates_group_sas.to_csv('dates_group_sas_cancel.csv',index=False)

In [32]:
dates_group_sas

          d_exp  count
0    1900-05-03      5
1    1901-07-01      1
2    1973-12-31      1
3    1983-06-30      1
4    1984-05-31      1
5    1984-12-25      1
6    1985-05-05      1
7    1986-07-11      1
8    1986-12-31      1
9    1988-01-26      1
10   1988-05-06      1
11   1988-08-12      1
12   1988-08-29      1
13   1989-03-02      1
14   1990-01-01      1
15   1990-07-20      1
16   1990-12-31      2
17   1991-01-31      1
18   1991-06-30      1
19   1991-07-31      1
20   1991-08-30      1
21   1991-10-11      1
22   1992-01-10      1
23   1992-06-07      1
24   1992-06-26      1
25   1992-07-01      2
26   1992-07-31      1
27   1992-09-10      3
28   1992-12-10      1
29   1993-01-01      2
...         ...    ...
8906 2023-02-28      2
8907 2023-05-11      1
8908 2023-05-14      1
8909 2023-06-16     32
8910 2023-09-30      4
8911 2023-12-19      1
8912 2024-03-31      1
8913 2025-09-12      1
8914 2025-12-31      2
8915 2026-01-25      2
8916 2026-08-24      3
8917 2026-08-26      3
8918 2026-11-10      1
8919 2027-08-10      1
8920 2028-05-20      1
8921 2029-04-30      2
8922 2030-04-30      2
8923 2031-03-31      1
8924 2034-03-13      1
8925 2034-06-14      6
8926 2035-06-14      5
8927 2036-12-31      2
8928 2037-04-13      1
8929 2041-01-06      1
8930 2047-12-14      1
8931 2061-12-02      1
8932 2078-11-30      1
8933 2106-11-20      1
8934 2107-10-22     15
8935 2124-04-10  34650

[8936 rows x 2 columns]

In [30]:
polhistory_psea_spark = spark.read.parquet("/user/cchin/data/sas_401/transv_polhistory_psea.parquet")
polhistory_psea_spark.groupby('d_cancel').count().coalesce(1).write.csv('dates_group_spark_cancel.csv')
!hdfs dfs -get dates_group_spark_cancel.csv

In [37]:
polhistory_psea_spark[['d_exp']].distinct().sort('d_exp').show(1000)

+----------+
|     d_exp|
+----------+
|1900-05-03|
|1901-07-01|
|1973-12-31|
|1983-06-30|
|1984-05-31|
|1984-12-25|
|1985-05-05|
|1986-07-11|
|1986-12-31|
|1988-01-26|
|1988-05-06|
|1988-08-12|
|1988-08-29|
|1989-03-02|
|1990-01-01|
|1990-07-20|
|1990-12-31|
|1991-01-31|
|1991-06-30|
|1991-07-31|
|1991-08-30|
|1991-10-11|
|1992-01-10|
|1992-06-07|
|1992-06-26|
|1992-07-01|
|1992-07-31|
|1992-09-10|
|1992-12-10|
|1993-01-01|
|1993-01-14|
|1993-03-31|
|1993-04-12|
|1993-04-23|
|1993-04-30|
|1993-05-31|
|1993-06-30|
|1993-07-03|
|1993-07-28|
|1993-09-10|
|1993-12-17|
|1993-12-31|
|1994-01-04|
|1994-01-14|
|1994-03-02|
|1994-04-30|
|1994-06-20|
|1994-06-30|
|1994-07-15|
|1994-08-14|
|1994-08-22|
|1994-09-17|
|1994-09-30|
|1994-10-31|
|1994-11-23|
|1994-11-30|
|1994-12-01|
|1994-12-19|
|1994-12-31|
|1995-01-01|
|1995-01-05|
|1995-01-07|
|1995-01-14|
|1995-01-31|
|1995-02-28|
|1995-03-27|
|1995-03-31|
|1995-05-30|
|1995-06-30|
|1995-07-03|
|1995-07-22|
|1995-07-31|
|1995-08-02|
|1995-08-24|
|1995-08-31|
|1995-09-04|
|1995-09-14|
|1995-09-17|
|1995-09-30|
|1995-10-12|
|1995-10-14|
|1995-10-27|
|1995-11-13|
|1995-11-14|
|1995-11-23|
|1995-11-30|
|1995-12-01|
|1995-12-31|
|1996-01-04|
|1996-01-12|
|1996-01-13|
|1996-01-14|
|1996-01-17|
|1996-01-20|
|1996-01-25|
|1996-01-30|
|1996-01-31|
|1996-02-14|
|1996-02-26|
|1996-02-28|
|1996-03-14|
|1996-03-31|
|1996-04-01|
|1996-04-05|
|1996-04-06|
|1996-04-09|
|1996-04-15|
|1996-04-16|
|1996-04-28|
|1996-04-30|
|1996-05-15|
|1996-05-19|
|1996-05-24|
|1996-05-27|
|1996-05-28|
|1996-06-05|
|1996-06-06|
|1996-06-12|
|1996-06-13|
|1996-06-14|
|1996-06-16|
|1996-06-22|
|1996-06-30|
|1996-07-01|
|1996-07-03|
|1996-07-09|
|1996-07-14|
|1996-07-18|
|1996-07-21|
|1996-07-28|
|1996-08-06|
|1996-08-08|
|1996-08-10|
|1996-08-11|
|1996-08-13|
|1996-08-14|
|1996-08-28|
|1996-08-31|
|1996-09-02|
|1996-09-09|
|1996-09-10|
|1996-09-18|
|1996-09-23|
|1996-09-29|
|1996-09-30|
|1996-10-03|
|1996-10-09|
|1996-10-12|
|1996-10-18|
|1996-10-20|
|1996-10-31|
|1996-11-01|
|1996-11-13|
|1996-11-22|
|1996-11-23|
|1996-11-24|
|1996-11-30|
|1996-12-01|
|1996-12-08|
|1996-12-13|
|1996-12-14|
|1996-12-16|
|1996-12-28|
|1996-12-30|
|1996-12-31|
|1997-01-01|
|1997-01-09|
|1997-01-16|
|1997-01-22|
|1997-01-24|
|1997-01-26|
|1997-01-31|
|1997-02-20|
|1997-02-22|
|1997-02-28|
|1997-03-01|
|1997-03-02|
|1997-03-09|
|1997-03-31|
|1997-04-02|
|1997-04-11|
|1997-04-12|
|1997-04-14|
|1997-04-16|
|1997-04-22|
|1997-04-23|
|1997-04-24|
|1997-04-27|
|1997-04-29|
|1997-04-30|
|1997-05-01|
|1997-05-06|
|1997-05-19|
|1997-05-26|
|1997-05-28|
|1997-05-31|
|1997-06-01|
|1997-06-02|
|1997-06-04|
|1997-06-06|
|1997-06-07|
|1997-06-12|
|1997-06-16|
|1997-06-28|
|1997-06-30|
|1997-07-01|
|1997-07-02|
|1997-07-03|
|1997-07-08|
|1997-07-09|
|1997-07-11|
|1997-07-17|
|1997-07-18|
|1997-07-19|
|1997-07-26|
|1997-07-29|
|1997-07-30|
|1997-07-31|
|1997-08-02|
|1997-08-03|
|1997-08-07|
|1997-08-08|
|1997-08-14|
|1997-08-15|
|1997-08-16|
|1997-08-22|
|1997-08-27|
|1997-08-31|
|1997-09-01|
|1997-09-02|
|1997-09-03|
|1997-09-04|
|1997-09-06|
|1997-09-08|
|1997-09-10|
|1997-09-12|
|1997-09-13|
|1997-09-17|
|1997-09-19|
|1997-09-20|
|1997-09-23|
|1997-09-24|
|1997-09-27|
|1997-09-30|
|1997-10-01|
|1997-10-03|
|1997-10-05|
|1997-10-06|
|1997-10-07|
|1997-10-09|
|1997-10-10|
|1997-10-14|
|1997-10-19|
|1997-10-23|
|1997-10-25|
|1997-10-26|
|1997-10-27|
|1997-10-29|
|1997-10-30|
|1997-10-31|
|1997-11-01|
|1997-11-03|
|1997-11-05|
|1997-11-07|
|1997-11-10|
|1997-11-12|
|1997-11-13|
|1997-11-14|
|1997-11-15|
|1997-11-17|
|1997-11-19|
|1997-11-21|
|1997-11-22|
|1997-11-25|
|1997-11-26|
|1997-11-30|
|1997-12-01|
|1997-12-05|
|1997-12-06|
|1997-12-09|
|1997-12-11|
|1997-12-13|
|1997-12-14|
|1997-12-17|
|1997-12-18|
|1997-12-19|
|1997-12-20|
|1997-12-23|
|1997-12-25|
|1997-12-27|
|1997-12-29|
|1997-12-30|
|1997-12-31|
|1998-01-01|
|1998-01-02|
|1998-01-06|
|1998-01-07|
|1998-01-14|
|1998-01-16|
|1998-01-17|
|1998-01-19|
|1998-01-22|
|1998-01-26|
|1998-01-27|
|1998-01-28|
|1998-01-29|
|1998-01-31|
|1998-02-03|
|1998-02-04|
|1998-02-07|
|1998-02-08|
|1998-02-11|
|1998-02-15|
|1998-02-16|
|1998-02-17|
|1998-02-18|
|1998-02-19|
|1998-02-20|
|1998-02-28|
|1998-03-01|
|1998-03-03|
|1998-03-05|
|1998-03-14|
|1998-03-15|
|1998-03-16|
|1998-03-17|
|1998-03-18|
|1998-03-19|
|1998-03-20|
|1998-03-21|
|1998-03-22|
|1998-03-24|
|1998-03-26|
|1998-03-27|
|1998-03-28|
|1998-03-29|
|1998-03-30|
|1998-03-31|
|1998-04-01|
|1998-04-02|
|1998-04-04|
|1998-04-07|
|1998-04-08|
|1998-04-09|
|1998-04-10|
|1998-04-11|
|1998-04-13|
|1998-04-15|
|1998-04-16|
|1998-04-20|
|1998-04-21|
|1998-04-26|
|1998-04-27|
|1998-04-28|
|1998-04-30|
|1998-05-01|
|1998-05-02|
|1998-05-04|
|1998-05-05|
|1998-05-06|
|1998-05-07|
|1998-05-11|
|1998-05-12|
|1998-05-14|
|1998-05-15|
|1998-05-18|
|1998-05-19|
|1998-05-20|
|1998-05-21|
|1998-05-22|
|1998-05-23|
|1998-05-24|
|1998-05-26|
|1998-05-27|
|1998-05-28|
|1998-05-29|
|1998-05-31|
|1998-06-01|
|1998-06-02|
|1998-06-03|
|1998-06-04|
|1998-06-08|
|1998-06-10|
|1998-06-13|
|1998-06-15|
|1998-06-16|
|1998-06-17|
|1998-06-19|
|1998-06-20|
|1998-06-21|
|1998-06-22|
|1998-06-23|
|1998-06-26|
|1998-06-27|
|1998-06-29|
|1998-06-30|
|1998-07-01|
|1998-07-03|
|1998-07-06|
|1998-07-07|
|1998-07-09|
|1998-07-10|
|1998-07-12|
|1998-07-13|
|1998-07-15|
|1998-07-16|
|1998-07-17|
|1998-07-18|
|1998-07-19|
|1998-07-20|
|1998-07-24|
|1998-07-25|
|1998-07-27|
|1998-07-29|
|1998-07-31|
|1998-08-02|
|1998-08-03|
|1998-08-08|
|1998-08-10|
|1998-08-14|
|1998-08-15|
|1998-08-16|
|1998-08-17|
|1998-08-20|
|1998-08-21|
|1998-08-22|
|1998-08-24|
|1998-08-25|
|1998-08-26|
|1998-08-27|
|1998-08-29|
|1998-08-31|
|1998-09-01|
|1998-09-02|
|1998-09-03|
|1998-09-04|
|1998-09-06|
|1998-09-07|
|1998-09-08|
|1998-09-09|
|1998-09-10|
|1998-09-11|
|1998-09-12|
|1998-09-15|
|1998-09-16|
|1998-09-17|
|1998-09-20|
|1998-09-21|
|1998-09-22|
|1998-09-23|
|1998-09-25|
|1998-09-26|
|1998-09-27|
|1998-09-29|
|1998-09-30|
|1998-10-01|
|1998-10-02|
|1998-10-05|
|1998-10-06|
|1998-10-07|
|1998-10-08|
|1998-10-10|
|1998-10-11|
|1998-10-13|
|1998-10-14|
|1998-10-16|
|1998-10-17|
|1998-10-19|
|1998-10-20|
|1998-10-21|
|1998-10-22|
|1998-10-23|
|1998-10-24|
|1998-10-26|
|1998-10-27|
|1998-10-28|
|1998-10-29|
|1998-10-30|
|1998-10-31|
|1998-11-01|
|1998-11-02|
|1998-11-03|
|1998-11-04|
|1998-11-05|
|1998-11-07|
|1998-11-10|
|1998-11-12|
|1998-11-13|
|1998-11-14|
|1998-11-15|
|1998-11-18|
|1998-11-19|
|1998-11-22|
|1998-11-23|
|1998-11-24|
|1998-11-25|
|1998-11-29|
|1998-11-30|
|1998-12-01|
|1998-12-02|
|1998-12-03|
|1998-12-04|
|1998-12-05|
|1998-12-06|
|1998-12-07|
|1998-12-08|
|1998-12-09|
|1998-12-12|
|1998-12-14|
|1998-12-15|
|1998-12-16|
|1998-12-19|
|1998-12-20|
|1998-12-21|
|1998-12-22|
|1998-12-23|
|1998-12-25|
|1998-12-26|
|1998-12-27|
|1998-12-28|
|1998-12-30|
|1998-12-31|
|1999-01-01|
|1999-01-02|
|1999-01-03|
|1999-01-05|
|1999-01-06|
|1999-01-07|
|1999-01-11|
|1999-01-12|
|1999-01-14|
|1999-01-15|
|1999-01-16|
|1999-01-19|
|1999-01-20|
|1999-01-21|
|1999-01-22|
|1999-01-23|
|1999-01-24|
|1999-01-25|
|1999-01-26|
|1999-01-28|
|1999-01-29|
|1999-01-30|
|1999-01-31|
|1999-02-01|
|1999-02-02|
|1999-02-03|
|1999-02-04|
|1999-02-10|
|1999-02-11|
|1999-02-12|
|1999-02-13|
|1999-02-15|
|1999-02-16|
|1999-02-17|
|1999-02-18|
|1999-02-20|
|1999-02-22|
|1999-02-23|
|1999-02-24|
|1999-02-25|
|1999-02-28|
|1999-03-01|
|1999-03-02|
|1999-03-06|
|1999-03-07|
|1999-03-08|
|1999-03-09|
|1999-03-10|
|1999-03-11|
|1999-03-12|
|1999-03-13|
|1999-03-15|
|1999-03-16|
|1999-03-17|
|1999-03-18|
|1999-03-19|
|1999-03-20|
|1999-03-21|
|1999-03-22|
|1999-03-23|
|1999-03-24|
|1999-03-25|
|1999-03-26|
|1999-03-28|
|1999-03-29|
|1999-03-30|
|1999-03-31|
|1999-04-01|
|1999-04-02|
|1999-04-04|
|1999-04-05|
|1999-04-07|
|1999-04-08|
|1999-04-09|
|1999-04-10|
|1999-04-11|
|1999-04-12|
|1999-04-13|
|1999-04-15|
|1999-04-16|
|1999-04-17|
|1999-04-19|
|1999-04-20|
|1999-04-21|
|1999-04-22|
|1999-04-23|
|1999-04-25|
|1999-04-26|
|1999-04-28|
|1999-04-30|
|1999-05-01|
|1999-05-02|
|1999-05-03|
|1999-05-04|
|1999-05-06|
|1999-05-07|
|1999-05-09|
|1999-05-11|
|1999-05-12|
|1999-05-14|
|1999-05-17|
|1999-05-18|
|1999-05-21|
|1999-05-23|
|1999-05-24|
|1999-05-25|
|1999-05-28|
|1999-05-30|
|1999-05-31|
|1999-06-02|
|1999-06-03|
|1999-06-04|
|1999-06-05|
|1999-06-07|
|1999-06-08|
|1999-06-09|
|1999-06-10|
|1999-06-11|
|1999-06-12|
|1999-06-13|
|1999-06-14|
|1999-06-15|
|1999-06-16|
|1999-06-17|
|1999-06-18|
|1999-06-19|
|1999-06-20|
|1999-06-21|
|1999-06-22|
|1999-06-23|
|1999-06-24|
|1999-06-25|
|1999-06-26|
|1999-06-27|
|1999-06-28|
|1999-06-29|
|1999-06-30|
|1999-07-01|
|1999-07-04|
|1999-07-05|
|1999-07-07|
|1999-07-08|
|1999-07-09|
|1999-07-10|
|1999-07-12|
|1999-07-13|
|1999-07-14|
|1999-07-15|
|1999-07-17|
|1999-07-19|
|1999-07-20|
|1999-07-21|
|1999-07-22|
|1999-07-23|
|1999-07-24|
|1999-07-26|
|1999-07-27|
|1999-07-28|
|1999-07-30|
|1999-07-31|
|1999-08-01|
|1999-08-02|
|1999-08-03|
|1999-08-04|
|1999-08-05|
|1999-08-06|
|1999-08-07|
|1999-08-08|
|1999-08-09|
|1999-08-10|
|1999-08-11|
|1999-08-13|
|1999-08-15|
|1999-08-16|
|1999-08-17|
|1999-08-20|
|1999-08-22|
|1999-08-23|
|1999-08-24|
|1999-08-26|
|1999-08-27|
|1999-08-28|
|1999-08-31|
|1999-09-01|
|1999-09-02|
|1999-09-03|
|1999-09-06|
|1999-09-07|
|1999-09-08|
|1999-09-09|
|1999-09-11|
|1999-09-12|
|1999-09-13|
|1999-09-15|
|1999-09-16|
|1999-09-17|
|1999-09-18|
|1999-09-19|
|1999-09-20|
|1999-09-21|
|1999-09-22|
|1999-09-24|
|1999-09-26|
|1999-09-28|
|1999-09-29|
|1999-09-30|
|1999-10-01|
|1999-10-02|
|1999-10-04|
|1999-10-06|
|1999-10-07|
|1999-10-09|
|1999-10-10|
|1999-10-11|
|1999-10-13|
|1999-10-14|
|1999-10-15|
|1999-10-16|
|1999-10-17|
|1999-10-18|
|1999-10-19|
|1999-10-20|
|1999-10-21|
|1999-10-22|
|1999-10-23|
|1999-10-24|
|1999-10-25|
|1999-10-26|
|1999-10-27|
|1999-10-28|
|1999-10-29|
|1999-10-30|
|1999-10-31|
|1999-11-01|
|1999-11-02|
|1999-11-03|
|1999-11-04|
|1999-11-05|
|1999-11-06|
|1999-11-07|
|1999-11-08|
|1999-11-09|
|1999-11-10|
|1999-11-11|
|1999-11-12|
|1999-11-13|
|1999-11-14|
|1999-11-15|
|1999-11-16|
|1999-11-17|
|1999-11-18|
|1999-11-19|
|1999-11-20|
|1999-11-21|
|1999-11-22|
|1999-11-24|
|1999-11-25|
|1999-11-26|
|1999-11-28|
|1999-11-29|
|1999-11-30|
|1999-12-01|
|1999-12-02|
|1999-12-03|
|1999-12-04|
|1999-12-05|
|1999-12-07|
|1999-12-08|
|1999-12-09|
|1999-12-11|
|1999-12-12|
|1999-12-13|
|1999-12-14|
|1999-12-15|
|1999-12-16|
|1999-12-17|
|1999-12-18|
|1999-12-19|
|1999-12-20|
|1999-12-21|
|1999-12-22|
|1999-12-23|
|1999-12-25|
|1999-12-26|
|1999-12-27|
|1999-12-28|
|1999-12-29|
|1999-12-30|
|1999-12-31|
|2000-01-01|
|2000-01-03|
|2000-01-04|
|2000-01-05|
|2000-01-06|
|2000-01-08|
|2000-01-09|
|2000-01-10|
|2000-01-12|
|2000-01-13|
|2000-01-14|
|2000-01-15|
|2000-01-16|
|2000-01-17|
|2000-01-18|
|2000-01-19|
|2000-01-20|
|2000-01-21|
|2000-01-22|
|2000-01-23|
|2000-01-25|
|2000-01-26|
|2000-01-27|
|2000-01-28|
|2000-01-29|
|2000-01-30|
|2000-01-31|
|2000-02-01|
|2000-02-02|
|2000-02-03|
|2000-02-04|
|2000-02-05|
|2000-02-06|
|2000-02-07|
|2000-02-08|
|2000-02-09|
|2000-02-10|
|2000-02-11|
|2000-02-12|
|2000-02-13|
|2000-02-14|
|2000-02-15|
|2000-02-16|
|2000-02-17|
|2000-02-19|
|2000-02-21|
|2000-02-22|
|2000-02-23|
|2000-02-24|
|2000-02-25|
|2000-02-26|
|2000-02-27|
|2000-02-28|
|2000-02-29|
|2000-03-01|
|2000-03-02|
|2000-03-03|
|2000-03-04|
|2000-03-05|
|2000-03-06|
|2000-03-07|
|2000-03-08|
|2000-03-09|
|2000-03-10|
|2000-03-11|
|2000-03-12|
|2000-03-13|
|2000-03-14|
|2000-03-17|
|2000-03-18|
|2000-03-19|
|2000-03-20|
|2000-03-21|
|2000-03-22|
|2000-03-23|
|2000-03-24|
|2000-03-25|
|2000-03-26|
|2000-03-27|
|2000-03-28|
|2000-03-29|
|2000-03-30|
|2000-03-31|
|2000-04-01|
|2000-04-02|
|2000-04-03|
|2000-04-04|
|2000-04-05|
|2000-04-06|
|2000-04-07|
|2000-04-08|
|2000-04-09|
|2000-04-10|
|2000-04-11|
|2000-04-12|
|2000-04-13|
|2000-04-14|
|2000-04-15|
|2000-04-16|
|2000-04-18|
|2000-04-19|
|2000-04-20|
|2000-04-21|
|2000-04-22|
|2000-04-23|
|2000-04-24|
|2000-04-26|
|2000-04-27|
|2000-04-29|
|2000-04-30|
|2000-05-01|
|2000-05-02|
|2000-05-03|
|2000-05-04|
|2000-05-05|
|2000-05-06|
|2000-05-07|
|2000-05-09|
|2000-05-10|
|2000-05-11|
|2000-05-12|
|2000-05-13|
|2000-05-14|
|2000-05-15|
|2000-05-17|
|2000-05-18|
|2000-05-19|
|2000-05-20|
|2000-05-21|
|2000-05-22|
|2000-05-23|
|2000-05-25|
|2000-05-26|
|2000-05-27|
|2000-05-28|
|2000-05-29|
|2000-05-30|
|2000-05-31|
|2000-06-01|
|2000-06-02|
|2000-06-03|
|2000-06-04|
|2000-06-05|
|2000-06-06|
|2000-06-07|
|2000-06-08|
|2000-06-09|
|2000-06-10|
|2000-06-11|
|2000-06-12|
|2000-06-14|
|2000-06-15|
|2000-06-16|
|2000-06-17|
|2000-06-18|
|2000-06-19|
|2000-06-20|
|2000-06-21|
|2000-06-22|
|2000-06-23|
|2000-06-24|
|2000-06-25|
|2000-06-26|
|2000-06-27|
|2000-06-28|
|2000-06-29|
|2000-06-30|
|2000-07-01|
|2000-07-02|
|2000-07-03|
|2000-07-04|
|2000-07-05|
|2000-07-06|
|2000-07-07|
|2000-07-08|
|2000-07-09|
|2000-07-10|
|2000-07-11|
|2000-07-12|
|2000-07-13|
|2000-07-14|
|2000-07-15|
|2000-07-16|
|2000-07-17|
|2000-07-18|
|2000-07-19|
|2000-07-20|
|2000-07-21|
|2000-07-22|
+----------+
only showing top 1000 rows

In [15]:
datetime.strptime('19990228', '%Y%m%d').strftime('%Y-%m-%d')

'1999-02-28'

In [1]:
import re
import pandas as pd
import numpy as np
import string
from datetime import datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import Window
import datetime
import calendar
from dateutil.relativedelta import relativedelta

In [2]:
acc_mth = 7
acc_yr = 2017
transv_pr_gr_psea_path = 'data/sas_402/transv_pr_gr_psea.parquet'
transv_polhistory_psea_path = 'data/sas_401/transv_polhistory_psea.parquet'
transv_p2_path = 'data/sas_405/transv_p2.parquet'
riskpf_path = '/group/axa_malaysia/data/adm_riskpf'

In [84]:
start_date = datetime.date(acc_yr-4,1,1)
end_date = datetime.date(acc_yr,acc_mth,calendar.monthrange(acc_yr, acc_mth)[1])

result = []
today = end_date
current = start_date
while current <= end_date:
    result.append(datetime.date(current.year,current.month,calendar.monthrange(current.year, current.month)[1]))
    current += relativedelta(months=1)

In [85]:
result

[datetime.date(2013, 1, 31),
 datetime.date(2013, 2, 28),
 datetime.date(2013, 3, 31),
 datetime.date(2013, 4, 30),
 datetime.date(2013, 5, 31),
 datetime.date(2013, 6, 30),
 datetime.date(2013, 7, 31),
 datetime.date(2013, 8, 31),
 datetime.date(2013, 9, 30),
 datetime.date(2013, 10, 31),
 datetime.date(2013, 11, 30),
 datetime.date(2013, 12, 31),
 datetime.date(2014, 1, 31),
 datetime.date(2014, 2, 28),
 datetime.date(2014, 3, 31),
 datetime.date(2014, 4, 30),
 datetime.date(2014, 5, 31),
 datetime.date(2014, 6, 30),
 datetime.date(2014, 7, 31),
 datetime.date(2014, 8, 31),
 datetime.date(2014, 9, 30),
 datetime.date(2014, 10, 31),
 datetime.date(2014, 11, 30),
 datetime.date(2014, 12, 31),
 datetime.date(2015, 1, 31),
 datetime.date(2015, 2, 28),
 datetime.date(2015, 3, 31),
 datetime.date(2015, 4, 30),
 datetime.date(2015, 5, 31),
 datetime.date(2015, 6, 30),
 datetime.date(2015, 7, 31),
 datetime.date(2015, 8, 31),
 datetime.date(2015, 9, 30),
 datetime.date(2015, 10, 31),
 datetime.date(2015, 11, 30),
 datetime.date(2015, 12, 31),
 datetime.date(2016, 1, 31),
 datetime.date(2016, 2, 29),
 datetime.date(2016, 3, 31),
 datetime.date(2016, 4, 30),
 datetime.date(2016, 5, 31),
 datetime.date(2016, 6, 30),
 datetime.date(2016, 7, 31),
 datetime.date(2016, 8, 31),
 datetime.date(2016, 9, 30),
 datetime.date(2016, 10, 31),
 datetime.date(2016, 11, 30),
 datetime.date(2016, 12, 31),
 datetime.date(2017, 1, 31),
 datetime.date(2017, 2, 28),
 datetime.date(2017, 3, 31),
 datetime.date(2017, 4, 30),
 datetime.date(2017, 5, 31),
 datetime.date(2017, 6, 30),
 datetime.date(2017, 7, 31)]

In [3]:
chdrpf_path = '/group/axa_malaysia/data/adm_chdrpf'

In [86]:
p2_pif_sas = pickle.load(open('p2_pif.pickle','rb'))

In [ ]:
p2_pif_spark = spark.read.parquet("/user/cchin/data/sas_405/transv_p2_pif.parquet")